@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root { /* afecta todo el archivo*/
    /* Colores */
    --color-primary: #4391F0;
    --color-light: #F3F3F3;
    --color-text: #1f1f1f;

    /* Funtes */ 
    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text: 'Instrument Sans', sans-serif;


    /* Sizes */ 
    --max-width: 60.25rem;
    --max-width-xl: 90rem;
} 



/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    text-decoration: none;
    color: inherit;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}


/* /css reset */


/* components */

/* btn components */

.btn {
    justify-content: center;
    align-items: center;
    padding: .625rem 2rem;
    border-radius: 38px;
    background-color: var(--color-text);
    color: var(--color-light);
    transition: 0.2s ease;
}

.btn:hover {
    opacity: 80%;
}

.btn-text-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .625rem 2rem;
    border-radius: 38px;
    background-color: var(--color-text);
    color: var(--color-light);
    gap: .625rem;
    transition: 0.2s ease;
}


.btn-text-arrow:hover {
    opacity: 80%;
}

.btn-arrow {
    display: flex;
    flex-flow: row wrap;
    padding: .625rem;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    color: var(--color-light);
    transition: 0.2s ease;
} 

.btn-arrow:hover {
    opacity: 80%;
}

.btn-icon {
    height: 18px;
}

/* iconos */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* text styles */

h1, .h1 {
    font: 400 clamp(3rem, 7vw, 4rem) var(--font-titles);
    color: var(--color-text);
}

h2, .h2 {
    font: 400 clamp(1.5rem, 5vw, 2rem) var(--font-titles);
    color: var(--color-text);
}

h3, .h3 {
    font: 400 clamp(1.1875rem, 3vw, 1.5rem) var(--font-titles);
    color: var(--color-text);
}

h4, .h4 {
    font: 500 clamp(1.0625rem, 3vw, 1.1875rem) var(--font-text);
    color: var(--color-text);
}

p, .body, input, select, label {
    font: 400 .9375rem var(--font-text);
    color: var(--color-text);
}

a, .link, li {
    font: 500 .9375rem var(--font-text);
    color: var(--color-text);
    transition: 0.3s ease;
}

.link:hover {
    text-decoration: underline;
}

/* containers */

.section {
    margin: 0 auto;
    max-width: var(--max-width-xl); 
    padding: clamp(2rem, 5vw, 4rem) clamp(.75rem, 2vw, 16px);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


.sub-banner {
    background-size: cover;
    background-position: center;
    display: flex;
    height: 18.75rem;
    padding: .625rem;
    gap: .625rem;
    border-radius: 5px;
    align-items: center;
}

.sub-banner__title {
    display: flex;
    padding: .625rem;
    gap: 1rem;
    justify-content: center;

    & h2 {
        color: var(--color-light);
        text-align: center;
    }

    & h1 {
        color: var(--color-light);
        text-align: center;
    }
}


/* form */

input, select {
    padding: 1rem 1.1875rem;
    border-radius: 100px;
    background-color: var(--color-light);
    color: var(--color-text);
    border: none;
    width: 100%;
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-light);

    &:hover {
        opacity: 80%;
    }
}

select {
    border-right: 1.1875rem solid #00000000;
}

/* /components */



/* Main */

/* Header */

.header {
display: flex;
margin: 0 auto;
max-width: var(--max-width-xl);
padding: clamp(1rem, 5vw, 2rem); 
justify-content: space-between;
}

.header__logo {
    border-radius: 0px;
    width: 5.75rem;
}

.header__menu { 

    & ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    @media (max-width: 720px) {
        display: none;
    }
    }

    & li {
        white-space: nowrap;

        & a {
            opacity: 0.5;
            transition: 0.3s ease;
        }
    }

    & .active {
        opacity: 1;
    }

    & a:hover:not(.active) {
        opacity: 0.8;
        text-decoration: underline;
    }

    & span {

    @media (min-width: 720px){
        display: none;
    }
    }
}


/* /Header */



/* hero-banner */

.hero-banner {
    padding: 0px 0.625rem;
}

.hero-banner__background {
        display: flex;
        margin: 0 auto;
        max-width: var(--max-width-xl); 
        background-image: linear-gradient(rgba(31, 31, 31, 0.2), rgba(31, 31, 31, 0.2)), url(../media/img/Home-banner.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        min-height: 90vh;
        padding: .625rem;
} 

.hero-banner__block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: .625rem;
    gap: 1rem;

    @media (max-width:720px) {
        align-items: center;
        text-align: center;
        padding: 0rem;
    }
}

.hero-banner__text {
    color: var(--color-light);
}

.hero-banner .btn {
    background-color: var(--color-light);
    color: var(--color-text);
}

/* /hero-banner */




/* about-us */



.hero-double__block{
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    align-items: center;
}

.hero-double__img {
    flex: 1 1 18rem;

    @media (max-width: 720px) {
        order: 0;
    }
}

.hero-double__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 18rem;
    gap: 2rem;
    align-items: start;

    @media (max-width: 720px) {
        order: 1;
        align-items: stretch;
    }
}

.hero-double__title {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}


/* /about-us */

/* hero-icon */

.hero-icons__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.hero-icons__card {
    display: flex;
    flex-flow: column nowrap;
    max-width: 15.625rem;
    flex: 1 1 9.375rem;
    padding: 1rem;
    gap: 1rem;
}

.hero-icons__card-title {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: start;
    gap: 1rem;
}

/* /hero-icon */



/* services */


.services__block {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    gap: 1rem;
    align-items: start;

    @media (max-width: 720px) {
        align-items: stretch;
    }
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0rem;
    gap: 1rem;

    @media(max-width: 720px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.services__card {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.services__card img {
    height: 11.125rem;
    object-fit: cover;
}


/* /services */


/* prices */


.prices__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width:720px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.prices__card {
    background-color: var(--color-light);
    border-radius: 5px;
    color: var(--color-text);
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    gap: 3rem;
    transition: 0.3s ease;
}

.pcard2 {
    background-color: var(--color-text);
    color: var(--color-light);
}

.prices__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    text-align: center;
}

.pcontent2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    text-align: center;
}

    .pcontent2 h1, .pcontent2 h3 {
        color: var(--color-light);
    }

    .pcontent2 .btn-text-arrow {
        background-color: var(--color-light);
        color: var(--color-text);
    }

.prices__list {
    gap: .625rem;
    justify-content: start;
    list-style: none;
}

.prices__card ul {
    display: flex;
    flex-flow: column nowrap;
    gap: .625rem;
}

.prices__card li {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.25rem;
    align-items: center;
}

.pcard2 li {
    color: var(--color-light);
}

.red-icon {
    color: #E26868;
}

.prices__card:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 5px #1f1f1f50;
}

/* /prices */


/* contact */


.contact__block{
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    align-items: center;
}


.contact__map {
    flex: 2 1 18.75rem;
    height: 33.125rem;
}

.contact__map iframe {
    width: 100%;
    height: 100%;
}

.contact__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 18.75rem;
    gap: 2rem;
    align-items: center;
}


.contact__heading {
    display: flex;
    flex-flow: column nowrap;
    gap: .875rem;
    justify-content: center;
}


#contact__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;

    & input[type="checkbox"] {
        height: 1rem;
        width: auto;
    }

    & input:focus, select:focus {
        box-shadow: 0 0 0 1px black;
    }

    & .form-privacy {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding-left: 6px;
    }

    & .form-row {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}



/* /contact */



/* blog */

.blog__block {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.blog__heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;



    @media (max-width: 720px) {
        gap: 2rem;
        
        & a {
            flex: 1 1 18.75rem;
        }

        & h2 {
            flex: 1 1 18.75rem;
        }
    }
}

.blog__grid {
    display: grid;
    padding: 1rem 0rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(17rem, 1fr));
}

.blog__card {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.page-home {
    @media (max-width: 720px) {

        #news2 {
            display: none;
        }

        #news3 {
            display: none;
        }
    }
}

/* /blog */




/* footer */

.footer {
    padding: .625rem;
}

.footer__block {
    display: flex;
    flex-flow: column nowrap;
    max-width: var(--max-width-xl);
    background-color: var(--color-text);
    margin: 0 auto;
    padding: clamp(1rem, 3vw, 2rem);
    gap: 2rem;
    border-radius: 5px;

    & li {
    transition: 0.3s ease;
    }

    & li:hover {
        transform: scale(1.05);
    }
}

.footer__logo {
    height: 1.5rem;
    max-width: 7.75rem;
    border-radius: 0rem;
}

.footer__up {
    display: flex;
    flex-flow: row  wrap;
    justify-content: space-between;
    padding: 1rem 0rem;
    gap: 1rem;
    


    & ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        gap: 1rem; 
    }

    @media (max-width: 720px) {

        img{
            flex: 1 1 18.75rem;
        } 

        ul {
            flex: 1 1 18.75rem;
        }
    }

}

.footer__down {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 1.6875rem;

    & a {
        color: var(--color-light);
        opacity: 80%;
    }
}


/* /footer */


































/* services page */


/* services banner */

#services-banner {
    background-image: linear-gradient(rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), url(../media/img/Services-banner.webp);
}

/* /services banner */


/* /services page */









/* about-us page */


/* about-us banner */

#about-us-banner {
    background-image: linear-gradient(rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), url(../media/img/About-banner.webp);
}

/* /about-us banner */


/* wait */

.wait__block {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

/* /wait */


/* /about-us page */







 
/* news page */


/* news banner */

#news-banner {
    background-image: linear-gradient(rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), url(../media/img/News-banner.webp);
}

/* /news banner */


/* /news page */











/* contact page */


/* contact banner */

#contact-banner {
    background-image: linear-gradient(rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), url(../media/img/Contact-banner.webp);
}

/* /contact banner */


/* /contact page */










/* single post page */


/* single post banner */

#post-banner {
    background-image: linear-gradient(rgba(31, 31, 31, 0.8), rgba(31, 31, 31, 0.8)), url(../media/img/post-banner.jpg);
}

/* /single post banner */


/* /single post page */



