@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


/* Variables--------------------------------------------------------- */

:root {
    --color-primary:         #4391F0;
    --color-light:           #F3F3F3;
    --color-text:            #1f1f1f;
    --color-primary-opacity: #4391F0CC;
    --color-light-opacity:   #F3F3F3CC;
    --color-text-opacity:    #1F1F1FCC;

    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text:   'Instrument Sans', sans-serif;

    --max-width:    60.25rem;
    --max-width-xl: 90rem;
}


/* Reset--------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    text-decoration: none;
    color: inherit;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}


/* Typography--------------------------------------------------------- */

h1, .h1 { 
    font: 400 clamp(3rem, 7vw, 4rem) var(--font-titles); 
    color: var(--color-text); 
}

h2, .h2 { 
    font: 400 clamp(1.5rem, 5vw, 2rem) var(--font-titles); 
    color: var(--color-text); 
}

h3, .h3 { 
    font: 400 clamp(1.1875rem, 3vw, 1.5rem) var(--font-titles); 
    color: var(--color-text); 
}

h4, .h4 { 
    font: 500 clamp(1.0625rem, 3vw, 1.1875rem) var(--font-text); 
    color: var(--color-text); 
}

p, .body, input, select, label {
    font: 400 .9375rem var(--font-text);
    color: var(--color-text);
}

a, .link, li {
    font: 500 .9375rem var(--font-text);
    color: var(--color-text);
}

.link:hover { 
    text-decoration: underline; 
}


/* Layout--------------------------------------------------------- */

.section {
    margin: 0 auto;
    max-width: var(--max-width-xl);
    padding: clamp(2rem, 5vw, 4rem) clamp(.75rem, 2vw, 16px);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


/* Components: Buttons--------------------------------------------------------- */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .625rem 2rem;
    gap: .625rem;
    border-radius: 2.375rem;
    background-color: var(--color-text);
    color: var(--color-light);
    transition: 0.2s ease;

    &:hover { 
        background-color: var(--color-text-opacity); 
    }
}

.--arrow {
    padding: .625rem;

    &:hover { 
        background-color: var(--color-text-opacity); 
    }
}

.btn-w {
    background-color: var(--color-light);
    color: var(--color-text);

    &:hover { 
        background-color: var(--color-light-opacity); 
    }
}


/* Components: Icons--------------------------------------------------------- */

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.red-icon { 
    color: #E26868; 
}


/* Header--------------------------------------------------------- */

.header {
    display: flex;
    margin: 0 auto;
    max-width: var(--max-width-xl);
    padding: clamp(1rem, 5vw, 2rem);
    justify-content: space-between;

    &__logo {
        border-radius: 0;
        width: 5.75rem;
    }

    &__menu {
        & ul {
            display: flex;
            list-style: none;
            gap: 2rem;

            @media (max-width: 720px) { display: none; }
        }

        & li {
            white-space: nowrap;

            & a {
                opacity: 0.5;
                transition: 0.3s ease;
            }
        }

        & .active { opacity: 1; }

        & a:hover:not(.active) {
            opacity: 0.8;
            text-decoration: underline;
        }

        & span {
            @media (min-width: 720px) { display: none; }
        }
    }
}


/* Sub-banner--------------------------------------------------------- */

.sub-banner {
    padding: 0 .625rem;

    &__bg {
        display: flex;
        margin: 0 auto;
        max-width: var(--max-width-xl);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 18.75rem;
        border-radius: 5px;
        align-items: center;
    }

    &__title {
        display: flex;
        padding: .625rem;
        gap: 1rem;
        justify-content: center;

        & h1, & h2 {
            color: var(--color-light);
            text-align: center;
        }
    }
}


/* Footer--------------------------------------------------------- */

.footer {
    padding: .625rem;

    &__block {
        display: flex;
        flex-flow: column nowrap;
        background-color: var(--color-text);
        margin: 0 auto;
        padding: clamp(1rem, 3vw, 2rem);
        gap: 2rem;
        border-radius: 5px;

        & li {
            transition: 0.3s ease;
            &:hover { transform: scale(1.05); }
        }
    }

    &__logo {
        height: 1.5rem;
        max-width: 7.75rem;
        border-radius: 0;
    }

    &__up {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1rem 0;
        gap: 1rem;

        & ul {
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            gap: 1rem;
        }

        @media (max-width: 720px) {
            & img { 
                flex: 1 1 18.75rem; 
            }
            & ul  { 
                flex: 1 1 18.75rem; 
            }
        }
    }

    &__down {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        gap: 1.6875rem;

        & a {
            color: var(--color-light);
            opacity: 80%;
        }
    }
}


/* Hero Banner--------------------------------------------------------- */

.hero-banner {
    padding: 0 .625rem;

    &__bg {
        display: flex;
        margin: 0 auto;
        max-width: var(--max-width-xl);
        background-image: linear-gradient(rgba(31,31,31,.2), rgba(31,31,31,.2)), url(../media/img/Home-banner.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        min-height: 90vh;
        padding: .625rem;
    }

    &__block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        width: 100%;
        padding: .625rem;
        gap: 1rem;

        @media (max-width: 720px) {
            align-items: center;
            text-align: center;
            padding: 0;
        }
    }

    &__text { 
        color: var(--color-light); 
    }
}


/* Hero Double-------
-------------------------------------------------- */

.hero-double {
    &__block {
        display: flex;
        flex-flow: row wrap;
        gap: 4rem;
        align-items: center;
    }

    &__img {
        flex: 1 1 18rem;

        @media (max-width: 720px) { 
            order: 0; 
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 18rem;
        gap: 2rem;
        align-items: start;

        @media (max-width: 720px) {
            order: 1;
            align-items: stretch;
        }
    }

    &__title {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}


/* Hero Icons--------------------------------------------------------- */

.hero-icons {
    &__block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 720px) { 
            grid-template-columns: repeat(2, 1fr); 
        }
    }

    &__card {
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem;
        gap: 1rem;
    }

    &__card-title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        gap: 1rem;
    }
}


/* Services--------------------------------------------------------- */

.services {
    &__block {
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem;
        gap: 1rem;
        align-items: start;

        @media (max-width: 720px) { 
            align-items: stretch; 
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 0;
        gap: 1rem;

        @media (max-width: 720px) { 
            grid-template-columns: 1fr; 
        }
    }

    &__card {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        & img {
            height: 11.125rem;
            object-fit: cover;
        }
    }
}


/* Prices--------------------------------------------------------- */

.prices {
    &__block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media (max-width: 720px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }

    &__card {
        background-color: var(--color-light);
        border-radius: 5px;
        color: var(--color-text);
        display: flex;
        flex-flow: column nowrap;
        padding: 2rem;
        gap: 3rem;
        transition: 0.3s ease;

        & ul {
            display: flex;
            flex-flow: column nowrap;
            gap: .625rem;
        }

        & li {
            display: flex;
            flex-flow: row nowrap;
            gap: 1.25rem;
            align-items: center;
        }

        &:hover {
            transform: scale(1.01);
            box-shadow: 0 5px 5px #1f1f1f50;
        }

        &--dark {
            background-color: var(--color-text);
            color: var(--color-light);

            & li, & h1, & h3 { 
                color: var(--color-light); 
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        text-align: center;
    }

    &__list {
        gap: .625rem;
        justify-content: start;
        list-style: none;
    }
}


/* Contact--------------------------------------------------------- */

.contact {
    &__block {
        display: flex;
        flex-flow: row wrap;
        gap: 4rem;
        align-items: center;
    }

    &__map {
        flex: 2 1 18.75rem;
        height: 33rem;

        & iframe {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 18.75rem;
        gap: 2rem;
        align-items: center;
    }

    &__heading {
        display: flex;
        flex-flow: column nowrap;
        gap: .875rem;
        justify-content: center;
    }
}

#contact__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;

    & .form-row {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & input, & select {
        padding: 1rem 1.1875rem;
        border-radius: 100px;
        background-color: var(--color-light);
        color: var(--color-text);
        border: 1px solid transparent;
        width: 100%;
    }

    & select { 
        border-right: 1.1875rem solid transparent; 
    }


    & .form-privacy {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding-left: 6px;
        
        & input[type="checkbox"] {
            height: 1rem;
            width: auto;
        }
    }

    & input[type="text"]:focus, select:focus {
        border: 1px solid #1f1f1f;
    }

    & input[type="submit"] {
        background-color: var(--color-primary);
        color: var(--color-light);
        border: 1px solid transparent;
        transition: 0.3s;

        &:hover { 
            background-color: var(--color-primary-opacity); 
        }
    }
}


/* Blog--------------------------------------------------------- */

.blog {
    &__block {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    &__heading {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @media (max-width: 720px) {
            gap: 2rem;
            & a, & h2 { flex: 1 1 18.75rem; }
        }
    }

    &__grid {
        display: grid;
        padding: 1rem 0;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(17rem, 1fr));
    }

    &__card {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

.page-home {
    @media (max-width: 720px) {
        #news2, #news3 { 
            display: none; 
        }
    }
}


/* Wait--------------------------------------------------------- */

.wait {
    &__block {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }
}


/* Error--------------------------------------------------------- */

.error {
    padding: 0 .625rem;

    &__back {
        background-color: var(--color-light);
        min-height: 90vh;
        display: flex;
        margin: 0 auto;
        max-width: var(--max-width-xl);
        border-radius: 5px;
        padding: 1rem;
        gap: 1rem;
    }

    &__block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        max-width: 37.5rem;
        gap: 1rem;
        text-align: center;

        & h1 { 
            font-size: 7.5rem; 
        }
    }

    &__btns {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }

    &__btn-outline {
        background-color: var(--color-light);
        color: var(--color-text);
        box-shadow: 0 0 0 1px var(--color-text);

        &:hover {
            background-color: #e7e7e7;
        }
    }
}


/* Page Banners--------------------------------------------------------- */

#services-banner {
    background-image: linear-gradient(rgba(31,31,31,.8), rgba(31,31,31,.8)), url(../media/img/Services-banner.webp);
}

#about-us-banner {
    background-image: linear-gradient(rgba(31,31,31,.8), rgba(31,31,31,.8)), url(../media/img/About-banner.webp);
}

#news-banner {
    background-image: linear-gradient(rgba(31,31,31,.8), rgba(31,31,31,.8)), url(../media/img/News-banner.webp);
}

#contact-banner {
    background-image: linear-gradient(rgba(31,31,31,.8), rgba(31,31,31,.8)), url(../media/img/Contact-banner.webp);
}

#post-banner {
    background-image: linear-gradient(rgba(31,31,31,.8), rgba(31,31,31,.8)), url(../media/img/post-banner.jpg);
}


/* Page: Contact Icons--------------------------------------------------------- */

.contact-icons {
    & .hero-icons__block { 
        gap: 1rem; 
    }

    & .hero-icons__card {
        background-color: var(--color-light);
        border-radius: 5px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0 3px 3px #1f1f1f20;
        }
    }
}
/* Single Post--------------------------------------------------------- */

.post-icon {
    &__block {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &__card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        padding: .625rem 1rem;
        gap: 1rem;
        background-color: var(--color-light);
        border-radius: 5px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0 3px 3px #1f1f1f20;
        }
    }
}

.post {

    &__block {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        background-color: var(--color-light);
        max-width: 46.875rem;
        justify-content: center;
        align-items: start;
        padding: 2rem;
        gap: 2rem;
    }

    &__video {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        width: 100%;
        height: 245px;

        & iframe {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    & ul {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        list-style: none;

        & li {
            font: 400 .9375rem var(--font-text);
            position: relative;
            line-height: 1.6;

            &::before {
                content: '•';
                position: absolute;
                left: 0;
                color: var(--color-text);
            }

            & b { font-weight: 700; }
        }
    }

    & ol {
        list-style: none;
        counter-reset: post-counter;

        & li {
            counter-increment: post-counter;
            padding-left: 1.5rem;
            line-height: 1.6;
            position: relative;

            &::before {
                content: counter(post-counter) '.';
                position: absolute;
                left: 0;
                font-weight: 600;
            }

            & b { font-weight: 700; }
        }
    }

    &__img {
        picture, img {
            width: 100%;
            border-radius: 5px;
        }
    }
}